doctype html
html
  head
    title Lista de Pacientes
    link(rel='stylesheet', href='/styles/styles.css')
    link(rel='stylesheet' href='/styles/pacientes.css')
  body
    h1 Lista de Pacientes
    a(href='/pacientes/new') Nuevo Paciente

    table
      thead
        tr
          th Nombre
          th Apellido
          th DNI
          th Fecha de Nacimiento
          th Sexo
          th Acciones
      tbody
        each paciente in pacientes
          tr
            td #{paciente.nombre}
            td #{paciente.apellido}
            td #{paciente.dni}
            td #{paciente.fecha_nacimiento}
            td #{paciente.sexo}
            td
              form(action=`/pacientes/${paciente.id_paciente}`, method='GET')
                button(type='submit') Ver
              form(action=`/prescripciones/new/${paciente.id_paciente}`, method='GET')
                button(type='submit') Prescribir
              form(action=`/pacientes/edit/${paciente.id_paciente}`, method='GET')
                button(type='submit') Editar
              form(action=`/pacientes/${paciente.id_paciente}?_method=DELETE`, method='POST')
                button(type='submit') Eliminar
    br
