doctype html
html
  head
    title Detalle de Paciente
    link(rel='stylesheet' href='/styles/paciente.css') 
    script.
      function navigateTo(url) {
        window.location.href = url;
      }
  body
    h1 Detalle de Paciente
    p Nombre: #{paciente.nombre}
    p Apellido: #{paciente.apellido}
    p DNI: #{paciente.dni}
    p Fecha de Nacimiento: #{paciente.fecha_nacimiento}
    p Sexo: #{paciente.sexo}
    .buttons-container
        button(type='button' onclick=`navigateTo('/pacientes/edit/${paciente.id_paciente}')`) Editar
        form(action=`/pacientes/${paciente.id_paciente}?_method=DELETE`, method='POST')
          button(type='submit') Eliminar
        button(type='button' onclick=`navigateTo('/prescripciones/new/${paciente.id_paciente}')`) Prescribir
        button.btn-secondary(type='button' onclick="navigateTo('/pacientes')") Volver a la lista de pacientes
