doctype html
html
  head
    title Detalle de Paciente
    link(rel='stylesheet', href='/styles/styles.css')
    link(rel='stylesheet' href='/styles/paciente.css') 
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script.
      function navigateTo(url) {
        window.location.href = url;
      }
  body
    //- navbar.pug
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href='/home') Clinica
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

      .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/home') Home
          li.nav-item
            a.nav-link(href='/pacientes') Pacientes
          li.nav-item
            a.nav-link(href='/profesionales') Profesionales
          li.nav-item
            a.nav-link(href='/mi-perfil') Mi Perfil
        ul.navbar-nav.float-right
          li.nav-item
            a.nav-link(href='/auth/logout') Logout
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(id='navbarDropdownMenuLink', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Accounts
            .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
              a.dropdown-item(href='#') Settings

    h1 Detalle de Paciente
    p Nombre: #{paciente.nombre}
    p Apellido: #{paciente.apellido}
    p DNI: #{paciente.dni}
    p Fecha de Nacimiento: #{paciente.fecha_nacimiento}
    p Sexo: #{paciente.sexo}
    .buttons-container
        button(type='button' onclick=`navigateTo('/pacientes/edit/${paciente.id_paciente}')`) Editar
        form(action=`/pacientes/${paciente.id_paciente}?_method=DELETE`, method='POST')
          button(type='submit') Eliminar
        button(type='button' onclick=`navigateTo('/prescripciones/new/${paciente.id_paciente}')`) Prescribir
        button.btn-secondary(type='button' onclick="navigateTo('/pacientes')") Volver a la lista de pacientes
